body {
  font-family: 'Montserrat', "Arial", "Helvetica", sans-serif;
}

.header-background {
  background-image: url("../img/header-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
  min-height: 100vh;
}

.header-top {
  width: 100%;
  height: 70px;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top a {
  max-height: 100%;
}

.header-top a img {
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header-top p {
  color: #2a292b;
  font-size: 12px;
  font-weight: 500;
}

.tel-wrapper {
  margin-left: auto;
}

.tel-wrapper a {
  color: #2a292b;
  font-size: 16px;
  font-weight: 700;
}

.header-center {
  width: 100%;
  margin-top: 180px;
}

.header-center h1 {
  color: #2a292b;
  font-size: 30px;
  font-weight: 700;
}

.header-center p {
  color: #2a292b;
  font-size: 16px;
  font-weight: 500;
  padding-top: 40px;
}

.header-center a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  width: 240px;
  height: 50px;
  background-color: #8d5a9f;
  margin-top: 95px;
  text-decoration: none;
}

.header-center a:hover, .header-center a:focus {
  background-color: #7e518f;
}

.header-center a:active {
  background-color: #70487f;
}

.you-will-have-wrapper {
  padding-top: 90px;
  padding-bottom: 130px;
}

.you-will-have {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.you-will-have .you-will-have-title {
  color: #544659;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 140px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-list .features-item {
  text-align: center;
  margin-bottom: 30px;
}

.features-list .features-item img {
  -o-object-fit: contain;
     object-fit: contain;
  padding-bottom: 65px;
}

.features-list .features-item p {
  color: #544659;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 20px;
}

.tariffs-wrapper {
  padding-top: 125px;
  padding-bottom: 105px;
}

.tariffs-background {
  background-color: rgba(240, 237, 242, 0.5);
}

.tariffs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.tariffs-title {
  color: #544659;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 90px;
}

.tariffs-link-wrapper {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(84, 70, 89, 0.12);
}

.tariffs-link-wrapper .tariffs-link:hover {
  -webkit-box-shadow: 0 4px 0 0 #70487f;
          box-shadow: 0 4px 0 0 #70487f;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.tariffs-link-wrapper .tariffs-link a {
  color: #544659;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  display: block;
  text-align: center;
  padding-bottom: 50px;
}

.tariffs-link-wrapper-mobile {
  display: none;
}

.tariffs-link-wrapper-mobile select {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ddd9df;
  background-color: #ffffff;
  margin: 30px 0;
  padding: 20px;
}

.tariffs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.tariffs-list .tariffs-item {
  text-align: center;
}

.tariffs-item-wrapper {
  border-radius: 4px;
  border: 1px solid #ddd9df;
  background-color: #ffffff;
  padding: 20px 20px 60px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.tariffs-item-wrapper h3 {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd9df;
  color: #544659;
  font-size: 16px;
  font-weight: 700;
}

.tariffs-item-wrapper p {
  color: #b3aeb5;
  font-size: 16px;
  font-weight: 400;
  padding-top: 50px;
}

.tariffs-item-wrapper span {
  color: #544659;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 0 50px 0;
}

.tariffs-item-wrapper a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 50px;
  background-color: #8d5a9f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.tariffs-item-wrapper a:hover, .tariffs-item-wrapper a:focus {
  background-color: #7e518f;
}

.tariffs-item-wrapper a:active {
  background-color: #70487f;
}

.tariffs-text-wrapper {
  padding-top: 50px;
  padding-bottom: 115px;
  width: 100%;
}

.tariffs-text-wrapper p {
  color: #544659;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.tariffs-text-wrapper p b {
  font-weight: 700;
}

.what-is-included-wrapper {
  overflow-x: scroll;
}

.what-is-included {
  width: 1110px;
}

.what-is-included .what-is-included-item {
  color: #544659;
  font-size: 16px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.what-is-included .what-is-included-item:nth-child(1) {
  width: 740px;
}

.what-is-included .what-is-included-item:nth-child(2), .what-is-included .what-is-included-item:nth-child(3) {
  width: 185px;
}

.what-is-included .what-is-included-item p {
  line-height: 24px;
}

.what-is-included .what-is-included-item:nth-child(1) {
  padding-left: 20px;
}

.what-is-included .what-is-included-item:nth-child(2), .what-is-included .what-is-included-item:nth-child(3) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.what-is-included:nth-child(1) .what-is-included-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.what-is-included:nth-child(1) .what-is-included-item:nth-child(1), .what-is-included:nth-child(1) .what-is-included-item:nth-child(2), .what-is-included:nth-child(1) .what-is-included-item:nth-child(3) {
  padding: 30px 0;
  color: #544659;
  font-size: 18px;
  font-weight: 700;
}

.what-is-included:nth-child(1) .what-is-included-item:nth-child(1) {
  padding-left: 20px;
}

.what-is-included:nth-child(1) .what-is-included-item:nth-child(2), .what-is-included:nth-child(1) .what-is-included-item:nth-child(3) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.what-is-included-item {
  border: 1px solid #ddd9df;
  background-color: #ffffff;
}

.what-is-included-item p {
  padding: 7px 0;
}

.devider {
  background-color: #e3e1e5;
  height: 1px;
  width: 100%;
  margin: 0;
  margin-top: 105px;
  margin-bottom: 100px;
}

.free-services-wrapper .free-services h2 {
  text-align: center;
  color: #544659;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 120px;
}

.free-services-item a {
  color: #544659;
  font-size: 14px;
  font-weight: 400;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  height: 100%;
}

.free-services-item a:hover, .free-services-item a:focus {
  background-color: #ffffff;
  border-bottom: 4px solid #8d5a9f;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.free-services-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.free-services-list-wrapper:last-child {
  padding-bottom: 40px;
}

.service-connect {
  border-radius: 4px;
  border: 1px solid #ddd9df;
  background-color: #ffffff;
  padding: 65px 95px 85px 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-connect h3 {
  color: #544659;
  line-height: 24px;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
}

.service-connect p {
  color: #544659;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
}

.special-offer {
  background-image: url("../img/special-offer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
}

.special-offer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 70px;
}

.special-offer-item {
  border-radius: 4px;
  background-color: #ffffff;
  width: 635px;
  height: 340px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 45px;
}

.special-offer-item h3 {
  color: #544659;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding: 0 0 35px 0;
}

.special-offer-item p {
  color: #544659;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  background-color: rgba(141, 90, 159, 0.1);
  padding: 10px 90px;
  text-align: center;
}

.special-offer-item-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.special-offer-item-prices::after {
  content: "";
  background-image: url("../img/price-offer-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 54px;
  height: 54px;
}

.special-offer-item-prices span {
  padding: 0 10px;
}

.special-offer-item-prices span:nth-child(1) {
  color: #b3aeb5;
  font-size: 24px;
  font-weight: 400;
  text-decoration: line-through;
}

.special-offer-item-prices span:nth-child(2) {
  color: #544659;
  font-size: 24px;
  font-weight: 700;
}

.special-offer-order {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  width: 200px;
  background-color: #8d5a9f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 13px 0;
  text-decoration: none;
}

.special-offer-order:hover, .special-offer-order:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #7e518f;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.special-offer-order:active {
  color: #ffffff;
  text-decoration: none;
  background-color: #70487f;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.our-services {
  padding: 120px 0 100px 0;
}

.our-services-wrapper h2 {
  color: #544659;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 65px;
}

.our-services-wrapper p,
.our-services-wrapper a {
  color: #544659;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  padding-bottom: 95px;
}

.our-services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.our-services-list .our-services-item {
  text-align: center;
}

.our-services-item-wrapper {
  border-radius: 4px;
  border: 1px solid #ddd9df;
  background-color: #ffffff;
  padding: 20px 20px 60px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.our-services-item-wrapper h3 {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd9df;
  color: #544659;
  font-size: 18px;
  font-weight: 700;
}

.our-services-item-wrapper p {
  color: #544659;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 50px;
}

.our-services-item-wrapper span {
  font-weight: 700;
  padding: 30px 0;
  color: #8d5a9f;
  font-size: 18px;
  font-weight: 700;
}

.our-services-item-wrapper a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 50px;
  background-color: #8d5a9f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.our-services-item-wrapper a:hover, .our-services-item-wrapper a:focus {
  background-color: #7e518f;
}

.our-services-item-wrapper a:active {
  background-color: #70487f;
}

.how-we-work {
  background-color: rgba(240, 237, 242, 0.5);
  padding-top: 110px;
  padding-bottom: 150px;
}

.how-we-work-wrapper h2 {
  color: #544659;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 135px;
}

.how-we-work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.how-we-work-list .how-we-work-item {
  text-align: center;
}

.how-we-work-list .how-we-work-item:nth-child(1), .how-we-work-list .how-we-work-item:nth-child(2), .how-we-work-list .how-we-work-item:nth-child(3) {
  position: relative;
}

.how-we-work-list .how-we-work-item:nth-child(1)::before, .how-we-work-list .how-we-work-item:nth-child(2)::before, .how-we-work-list .how-we-work-item:nth-child(3)::before {
  content: "";
  background-image: url("../img/rect-icon.png");
  width: 105px;
  height: 5px;
  display: block;
  position: absolute;
  top: 50px;
  right: -50px;
}

.how-we-work-list .how-we-work-item img {
  -o-object-fit: contain;
     object-fit: contain;
  padding-bottom: 65px;
}

.how-we-work-list .how-we-work-item h3 {
  color: #544659;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.how-we-work-list .how-we-work-item p {
  color: #544659;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.services-quality {
  background-color: #713287;
  min-height: 440px;
}

.services-quality-wrapper {
  padding: 90px 0;
}

.services-quality-wrapper h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 70px;
}

.services-quality-wrapper p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding-bottom: 65px;
}

.services-quality-wrapper a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  background-color: #ff0076;
  padding: 15px 63px;
  width: 200px;
  margin: 0 auto;
  display: block;
  text-decoration: none;
}

.services-quality-wrapper a:hover, .services-quality-wrapper a:focus {
  background-color: #e5006a;
}

.services-quality-wrapper a:active {
  background-color: #cc005e;
}

.questions-and-answers-wrapper {
  padding-top: 105px;
  padding-bottom: 100px;
}

.questions-and-answers-wrapper h2 {
  color: #544659;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 90px;
}

.questions-and-answers-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.questions-and-answers-list {
  border-top: 1px solid #e3e1e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.questions-and-answers-list .questions-and-answers-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.questions-and-answers-list .questions-and-answers-top h3 {
  color: #713287;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.questions-and-answers-list .questions-and-answers-bottom p {
  color: #544659;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.questions-and-answers-list .questions-and-answers-bottom p:nth-child(1) {
  padding-top: 45px;
  padding-bottom: 20px;
}

.client-reviews {
  background-color: rgba(240, 237, 242, 0.5);
}

.client-reviews-wrapper {
  padding-top: 110px;
  padding-bottom: 65px;
}

.client-reviews-wrapper h2 {
  color: #544659;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 90px;
}

.client-reviews-item {
  border-radius: 4px;
  border: 1px solid #ddd9df;
  background-color: #ffffff;
  padding: 20px 30px 25px 30px;
  margin-bottom: 30px;
}

.client-reviews-item p {
  padding-top: 25px;
  color: #544659;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.client-reviews-item-top {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd9df;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client-reviews-item-top span {
  color: #544659;
  font-size: 16px;
  font-weight: 700;
}

.have-questions-wrapper {
  padding: 100px 0;
}

.have-questions-wrapper h2 {
  color: #544659;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 50px;
}

.have-questions-wrapper a {
  color: #544659;
  font-size: 48px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.have-questions-wrapper p {
  color: #544659;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.copyright {
  background-color: rgba(240, 237, 242, 0.5);
}

.copyright-wrapper {
  padding: 50px 0;
}

.copyright-wrapper p {
  color: #544659;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.tel-wrapper-mobile {
  display: none;
}

@media (max-width: 1199.98px) {
  .tel-wrapper a {
    font-size: 14px;
  }
  .header-center {
    margin-top: 100px;
  }
  .header-center h1 {
    font-size: 24px;
  }
  .header-center p {
    font-size: 14px;
  }
  .header-center a {
    margin-bottom: 100px;
  }
  .free-services-item a {
    height: 100%;
  }
  .how-we-work-list .how-we-work-item p {
    font-size: 14px;
  }
  .have-questions-wrapper h2 {
    font-size: 30px;
  }
  .have-questions-wrapper a {
    font-size: 35px;
  }
  .have-questions-wrapper p {
    font-size: 14px;
  }
  .client-reviews-wrapper h2 {
    font-size: 30px;
  }
  .questions-and-answers-wrapper h2 {
    font-size: 30px;
  }
  .services-quality-wrapper h2 {
    font-size: 30px;
  }
  .services-quality-wrapper p {
    font-size: 14px;
  }
  .how-we-work-wrapper h2 {
    font-size: 30px;
  }
  .our-services-wrapper h2 {
    font-size: 30px;
  }
  .our-services-wrapper p {
    font-size: 20px;
  }
  .special-offer h2 {
    font-size: 30px;
  }
  .free-services-wrapper .free-services h2 {
    font-size: 30px;
  }
  .tariffs-title {
    font-size: 30px;
  }
  .tariffs-link-wrapper .tariffs-link a {
    font-size: 16px;
  }
  .you-will-have .you-will-have-title {
    font-size: 30px;
  }
  .how-we-work-list .how-we-work-item {
    text-align: center;
    margin-bottom: 50px;
  }
  .how-we-work-list .how-we-work-item:nth-child(3) {
    position: relative;
  }
  .how-we-work-list .how-we-work-item:nth-child(3)::before {
    display: none;
  }
  .have-questions-wrapper h2 {
    font-size: 30px;
  }
  .have-questions-wrapper a {
    font-size: 30px;
  }
}

@media (max-width: 991.98px) {
  .header-background {
    background-position: center;
  }
  .header-center h1 {
    font-size: 20px;
  }
  .header-center p {
    width: 500px;
    line-height: 20px;
  }
  .tariffs-link-wrapper .tariffs-link a {
    font-size: 14px;
  }
  .how-we-work-list .how-we-work-item {
    text-align: center;
    margin-bottom: 50px;
  }
  .how-we-work-list .how-we-work-item:nth-child(2) {
    position: relative;
  }
  .how-we-work-list .how-we-work-item:nth-child(2)::before {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .header-background {
    background-image: url("../img/header-background-clear.png");
  }
  .header-center h1 {
    font-size: 30px;
    text-align: left;
    line-height: 45px;
  }
  .header-center p {
    font-size: 25px;
    text-align: left;
    line-height: 30px;
  }
  .header-center a {
    width: 100%;
    font-size: 22px;
    height: 70px;
    border: 2px solid #a37ab2;
  }
  .header-top {
    padding-top: 30px;
  }
  .header-top p {
    font-size: 18px;
    margin-left: 20px;
  }
  .tel-wrapper a {
    font-size: 20px;
  }
  .you-will-have-title {
    text-align: center;
  }
  .special-offer-item {
    max-width: 100%;
  }
  .how-we-work-list .how-we-work-item {
    text-align: center;
    margin-bottom: 50px;
  }
  .how-we-work-list .how-we-work-item:nth-child(1n)::before {
    display: none;
  }
  .tariffs-link-wrapper {
    display: none;
  }
  .tariffs-link-wrapper-mobile {
    display: block;
  }
  .you-will-have-wrapper {
    padding: 0;
  }
  .free-services-wrapper .free-services h2 {
    padding-bottom: 30px;
  }
  .tariffs-wrapper {
    padding: 50px 0;
  }
  .tariffs-title {
    padding-bottom: 30px;
  }
  .tariffs-text-wrapper {
    padding: 20px 0 50px 0;
  }
  .devider {
    margin: 50px 0;
  }
  .service-connect {
    padding: 50px;
  }
  .special-offer {
    height: 550px;
  }
  .special-offer h2 {
    padding: 50px 0;
  }
  .our-services {
    padding: 50px 0;
  }
  .how-we-work {
    padding: 50px 0;
  }
  .how-we-work h2 {
    padding-bottom: 80px;
  }
  .how-we-work .how-we-work-list .how-we-work-item img {
    padding-bottom: 30px;
  }
  .questions-and-answers-wrapper {
    padding: 50px 0;
  }
  .questions-and-answers-wrapper h2 {
    padding-bottom: 50px;
  }
  .client-reviews-wrapper {
    padding: 50px 0;
  }
  .client-reviews-wrapper h2 {
    padding-bottom: 50px;
  }
  .have-questions-wrapper {
    padding: 50px 0;
  }
  .services-quality-wrapper {
    padding: 50px 0;
  }
  .services-quality-wrapper h2 {
    padding-bottom: 50px;
  }
  .services-quality-wrapper p {
    font-size: 18px;
  }
  .services-quality-wrapper a {
    font-size: 18px;
  }
  .our-services-wrapper h2 {
    padding-bottom: 50px;
  }
  .our-services-wrapper p {
    padding-bottom: 50px;
  }
  .you-will-have .you-will-have-title {
    padding-bottom: 80px;
  }
  .features-list .features-item img {
    padding-bottom: 30px;
    width: 80%;
  }
  .features-list .features-item p {
    font-size: 12px;
    line-height: 18px;
  }
  .tariffs-item-wrapper h3 {
    font-size: 20px;
  }
  .tariffs-item-wrapper p {
    font-size: 20px;
  }
  .tariffs-item-wrapper a {
    font-size: 20px;
  }
  .tariffs-link-wrapper-mobile select {
    font-size: 20px;
  }
  .tariffs-text-wrapper p {
    font-size: 20px;
    line-height: 28px;
  }
  .free-services-item a {
    font-size: 20px;
  }
  .service-connect h3 {
    font-size: 28px;
    padding-bottom: 20px;
  }
  .service-connect p {
    font-size: 18px;
    line-height: 28px;
  }
  .special-offer-item p {
    font-size: 16px;
  }
  .our-services-item-wrapper p {
    font-size: 18px;
  }
  .our-services-item-wrapper span {
    font-size: 22px;
  }
  .our-services-item-wrapper a {
    font-size: 18px;
  }
  .how-we-work-list .how-we-work-item h3 {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 10px;
  }
  .how-we-work-list .how-we-work-item p {
    font-size: 18px;
  }
  .questions-and-answers-list .questions-and-answers-top h3 {
    font-size: 20px;
  }
  .questions-and-answers-list .questions-and-answers-bottom p {
    font-size: 18px;
  }
  .client-reviews-item-top span {
    font-size: 18px;
  }
  .client-reviews-item p {
    font-size: 18px;
  }
  .have-questions-wrapper h2 {
    font-size: 24px;
  }
  .have-questions-wrapper a {
    font-size: 24px;
  }
  .have-questions-wrapper p {
    font-size: 18px;
  }
  .you-will-have .you-will-have-title {
    padding-top: 50px;
  }
}

@media (max-width: 575.98px) {
  .header-center {
    margin-top: 50px;
  }
  .header-center h1 {
    font-size: 18px;
    line-height: 28px;
  }
  .header-center p {
    width: auto;
    font-size: 18px;
    line-height: 24px;
    padding-top: 20px;
  }
  .header-center a {
    margin-bottom: 50px;
    font-size: 18px;
    text-align: center;
  }
  .header-info-wrapper {
    display: none;
  }
  .header-info-wrapper p {
    font-size: 14px;
    margin-left: 0;
  }
  .header-background {
    min-height: 650px;
  }
  .you-will-have .you-will-have-title {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 50px;
  }
  .free-services-item a {
    height: 74px;
    line-height: 24px;
  }
  .free-services-wrapper .free-services h2 {
    font-size: 18px;
    line-height: 24px;
  }
  .special-offer-item {
    height: 440px;
  }
  .special-offer-item p {
    padding: 10px;
  }
  .special-offer {
    height: 700px;
  }
  .special-offer-item-prices span:nth-child(1), .special-offer-item-prices span:nth-child(2) {
    font-size: 18px;
  }
  .special-offer-item-prices::after {
    width: 30px;
    height: 30px;
  }
  .our-services-wrapper p {
    font-size: 18px;
  }
  .our-services-wrapper a {
    font-size: 18px;
  }
  .how-we-work h2 {
    padding-bottom: 50px;
    font-size: 26px;
  }
  .services-quality-wrapper h2 {
    font-size: 28px;
  }
  .client-reviews-wrapper h2 {
    font-size: 18px;
  }
  .have-questions-wrapper h2 {
    font-size: 22px;
  }
  .have-questions-wrapper a {
    font-size: 22px;
  }
  .have-questions-wrapper p {
    font-size: 16px;
    line-height: 24px;
  }
  .copyright-wrapper p {
    line-height: 24px;
  }
  .header-top a img {
    width: 50px;
    height: 50px;
  }
  .tel-wrapper {
    display: none;
  }
  .tel-wrapper-mobile {
    display: block;
    text-align: right;
  }
  .tel-wrapper-mobile a img {
    width: 50px;
    height: 50px;
  }
  .header-info-wrapper {
    display: block;
  }
  .service-connect {
    padding: 20px;
  }
  .you-will-have .you-will-have-title {
    padding-top: 50px;
  }
  .free-services-item a {
    text-decoration: underline;
  }
}
/*# sourceMappingURL=style.css.map */