body {
  font-family: Arial, Helvetica, sans-serif;
}

// .header {}

.header-background {
  background-image: url("../img/header-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
  min-height: 100vh;
}

.header-top {
  width: 100%;
  height: 70px;
  margin-top: 15px;
  display: flex;
  align-items: center;

  a {
    max-height: 100%;

    img {
      width: 70px;
      height: 70px;
      object-fit: contain;
    }
  }

  p {
    // width: 165px;
    // height: 27px;
    color: #2a292b;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
  }
}

.tel-wrapper {
  margin-left: auto;

  a {
    // width: 137px;
    // height: 12px;
    color: #2a292b;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    // line-height: 100px;
  }
}

.header-center {
  width: 100%;
  margin-top: 180px;

  h1 {
    color: #2a292b;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    // width: 801px;
    // height: 82px;
    // line-height: 48px;
  }

  p {
    color: #2a292b;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    // line-height: 24px;
    padding-top: 40px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    width: 240px;
    height: 50px;
    background-color: #8d5a9f;
    margin-top: 95px;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: #7e518f;
    }

    &:active {
      background-color: #70487f;
    }
  }
}

.you-will-have-wrapper {
  padding-top: 90px;
  padding-bottom: 130px;
}

.you-will-have {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .you-will-have-title {
    color: #544659;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
    // padding-top: 90px;
    padding-bottom: 140px;
  }
}

.features-list {
  display: flex;
  width: 100%;

  .features-item {
    text-align: center;

    img {
      object-fit: contain;
      padding-bottom: 65px;
    }

    p {
      color: #544659;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      font-weight: 400;
      // line-height: 24px;
    }
  }
}

.tariffs-wrapper {
  padding-top: 125px;
  padding-bottom: 105px;
}

.tariffs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tariffs-title {
  color: #544659;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 90px;
}
